<a href="https://colab.research.google.com/github/snair317/PyFiles/blob/main/ba_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#THis is single line comment
print("hello, learning python")

hello, learning python

In [ ]:
fav_food = "Pizza"
print("Your Favourite food is:" ,fav_food)

Your Favourite food is: Pizza

In [ ]:
# Your Favourite food is: Pizza

In [ ]:
fav_food = input("Please enter your fav food: ")
print("Your Favourite food is:" ,fav_food)

Please enter your fav food: chicken pizza
Your Favourite food is: chicken pizza

In [ ]:
#take first number from user
#take second number from user
#add both number
#print the final output

In [ ]:
first_number = int(input("Enter first number"))
second_number = int(input("Enter second number"))

sum = first_number + second_number
print("The sum is ",sum,"This is addition of two numbers")

Enter first number10
Enter second number50
The sum is  60 This is addition of two numbers

In [ ]:
type(first_number)

int

In [ ]:
a = 10
type(a)

int

In [ ]:
#If
#If else
#if elif el elifse

In [ ]:
a = 40

if a > 50:
  print("nos greater than 50")
else:
  print( "no less than 50")

no less than 50

In [ ]:
#Take age from user
#if age is greater than 18 the person is eligible to vote else not

In [ ]:
age = int(input("Enter your age"))

if age>=18:
  print("You are eligible to vote")
else:
  print("You are not eligible to vote")

In [ ]:
#take input credit score
#tell your salary
#tell your loan amount

#credit is greater than 750 , salary is greater 2 times of loan amount then
#person is eligible for loan else denied

In [ ]:
credit_score = int(input("Enter your cs"))
salary = float(input("Enter your salary"))
loan_am = float(input("Enter req loan amount"))

if credit_score > 750 and salary>2*loan_am:
  print("You are eligible for loan")
else:
  print("You are not eligible for loan")

Enter your cs800
Enter your salary200000000
Enter req loan amount50000
You are eligible for loan

In [ ]:
#if its not raining and temperature is b/w 15 and 25 - > walk

In [ ]:
is_raining = input("Enter yes/no if its raining").lower()

temp = float(input("Enter temp"))

if is_raining == "no" and 15<=temp<=25:
  print("go for walk")
else:
  print("Dont go for walk")

Enter yes/no if its rainingNo
Enter temp18
go for walk

In [ ]:
temp = 26.5

if temp<0:
  print("Freezing")
elif 0<=temp<=15:
  print("cold")
elif 15<=temp<=25:
  print("Normal")
else:
  print("Hot")

Hot

In [ ]:
type(temp)

float

In [ ]:
#loops

#for # While

#for->

In [ ]:
for i in range(5,11):
  print(i)

5
6
7
8
9
10

In [ ]:
count = 1

while count<3:
  print(count)
  count=count+1

1
2

In [ ]:
#break #continue #pass

In [ ]:
for i in range(1,6):
  print(i)

  if i==3:
    break

1
2
3

In [ ]:
for i in range(1,6):
  if i==3:
    continue
  print(i)

1
2
4
5

In [ ]:
for i in range(1,6):
  pass
print("add code latrer")

add code latrer

In [ ]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
import pandas as pd

In [ ]:
#if the number is 3
#utput 6

a= int(input("Enter a number"))
total = 0
for i in range(1,a+1): #i=1
  total += i #0+1
  print(i)
print("sum of the entered numbers are ",total)

Enter a number3
1
2
3
sum of the entered numbers are  6

In [ ]:
#take a input from user (battery) - 5
#print beep beep until the battery reches 0
#if its 0 print phone is dead

battery = int(input("Enter your battery #"))

while battery>0:
  print("Beep Beep!")
  battery -=1
print("Phone dead")

Enter your battery #3
Beep Beep!
Beep Beep!
Beep Beep!
Phone dead

In [ ]:
a = 5614

b= a//10

print(b)


count=4

561

In [ ]:
#56149

#->5

num = 5614

count = 0

while num>0:
  num=num//10
  count +=1
print(count)

4

In [ ]:
#num is  5614
#count

#first loop => is 5614>0 -. Yes
  #561//10 4-> 561
  #num=561
  #count is 0 +1 = 1

 #second loop-   #561//10 -> 56
  #num=56
  #count is 1+1 = 2

 #third loop-   #56//10 -> 5
  #num=5
  #count is 2+1 = 3

 #fourth loop-   #5//10 -> 0
  #num=0
  #count is 3+1 = 4

In [ ]:
num = 562
reverse = 0

while num>0:               #562
  digits = num%10            #562%10 = 2
  reverse = reverse*10 +digits   #2
  num =num//10 -562//10 - 56
print(reverse)

265

In [ ]:
a = int(input("Please enter a number")) #23
cube = 0

while a > 0:                   #23
  digits = a % 10        #a=3
  cube = digits**3     #27
  number = nu//10       #num=0


print(cube)

Please enter a number23

In [ ]:
a=245

2*2*2 = 8
4*4*4 = 64
5*5*5=125

sum = 845

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (ipython-input-2321296494.py, line 3)

In [ ]:
# Data structures

a = 10,12,13,154,

print(a)

#list , #tuple #sets #dictinoary

(10, 12, 13, 154)

In [ ]:
# 5

a = 5

for num in range(2,a+1):  #4
  is_prime = True

  for i in range(2,num):  #2,4  i=2
    if num%i==0:    # 4%2 =0
      is_prime = False
      break

  if is_prime == True:
    print(num )

2
3
5

In [ ]:
#data structures

#list

list_1 = [2,4,5,6,677,7766,"shree",True,"shree"]

#indexing

print(list_1[1])
#ordered

list_1.append("Pillai")

list_1.remove(7766)


list_1.insert(2,"MES")
print(list_1)

removed_data = list_1.pop(4)

removed_data

list_1[0]="PIMSR"
print(list_1)

removed_data = list_1.pop(4)

print(removed_data)
print(list_1)

4
[2, 4, 'MES', 5, 6, 677, 'shree', True, 'shree', 'Pillai']
['PIMSR', 4, 'MES', 5, 677, 'shree', True, 'shree', 'Pillai']
677
['PIMSR', 4, 'MES', 5, 'shree', True, 'shree', 'Pillai']

In [ ]:
#tuple

tuple_1 = (2,"shree","PIMSR",100,"shree")
type(tuple_1)
print(tuple_1[0])
tuple_1.remove(2)
 #tuple_1 .append("PCE")
print(tuple_1)

2

AttributeError: 'tuple' object has no attribute 'remove'

In [ ]:
#sets

list_1 = [2,4,5,6,677,7766,"shree",True,"shree"]

set_1 = set(list_1)

print(set_1)

set_1.add("shreepimsr")
print(set_1)

{True, 2, 'shree', 4, 5, 6, 677, 7766}
{True, 2, 'shree', 4, 5, 6, 677, 'shreepimsr', 7766}

In [ ]:
visitors = ["user1","user2","user1","user3","user1","user2" ]
print(visitors)
unique_vistors = set(visitors )
print(unique_vistors)

if "user1" in unique_vistors:
  print("user1 visited")
else:
  print("user 1 not visited")

['user1', 'user2', 'user1', 'user3', 'user1', 'user2']
{'user1', 'user3', 'user2'}
not there

In [ ]:
#dict  #key # value

dictionary_1 = {
    "age": [24,25,16],
    #"age":25,
    1:"shree"

}

dictionary_1 [1]="PIMSR"

print(dictionary_1)

type(dictionary_1)

{'age': [24, 25, 16], 1: 'PIMSR'}

dict

In [ ]:
data = [1,4,-2,6,-25,50]
count=0
for i in data:
  if i>=0:
    count+=1
print(count)

4

In [ ]:
data = [1,4,5,67,"NA",None,5,"NA"]
cleaned_list=[]
for i in data:
  if i is not None and i!="NA":
    cleaned_list.append(i)
print(cleaned_list)

[1, 4, 5, 67, 5]

In [ ]:
purchases = ["u1","u2","u3","u1","u6","u3","u4","u1","u1"]
purchases_dict= {}
for i in purchases:
  if i in purchases_dict:
     purchases_dict[i]+=1
  else:
    purchases_dict[i]=1
print(purchases_dict)

repeat_buyer=0
for user_id in purchases_dict:
  count = purchases_dict[user_id]

  if count>3:
    repeat_buyer=repeat_buyer+1
print(repeat_buyer)

{'u1': 4, 'u2': 1, 'u3': 2, 'u6': 1, 'u4': 1}
1

In [ ]:
email="shree@gmail.com"
name,domian = a.split("@")
domian

'gmail.com'

In [ ]:
email_id = ["shree@Gmail.com","pqr@amazon.com","pimsr@mes.com","qbc@gmail.com",
            "abc_pol_com"]

domian_final=[]
for email in email_id:
  if "@" in email:
    name,domian=email.split("@")
    domian_final.append(domian.lower())
print("This are my domain names",domian_final)


unique_domain = set(domian_final)
print(f"This are my unique domain names: {unique_domain} ")


domain_dict={}

This are the domain names: ['gmail.com', 'amazon.com', 'mes.com', 'gmail.com']
This are my unique domain names: {'gmail.com', 'mes.com', 'amazon.com'}

In [ ]:
#functions
#oops

In [ ]:
def say_hello(s):
  print("Hello world",s)

say_hello("shree")
say_hello("pimsr")
say_hello("abc")

Hello world shree
Hello world pimsr
Hello world abc

In [ ]:
def add_2(num1,num2):
  total = num1*num2
  print(total)
  return total

result = add_2(3,2)


print(result)

6
6

In [ ]:
#palindrome
def palindrome_1(s):
    cleaned_s=s.replace(" ","").lower()

    reverse_s = cleaned_s[::-1].lower()
    print(cleaned_s)
    print(reverse_s)

    if cleaned_s==reverse_s:
      print(f"{cleaned_s} is a palindrome ")
    else:
      print("Not a Palindrome")

palindrome_1("Civic")

civic
civic
civic is a palindrome

In [ ]:
vowels = "aeiouAEIOU"

def check_vowels(s):
  count = 0
  for i in s:
    if i in vowels:
      count+=1
  return count
result=check_vowels("hello world")
print(result)

3

In [ ]:
def sen(sentence):

  sen_dict={}

  for i in sentence:

    if i==" ":
      continue
    i=i.lower()

    if i in sen_dict:
      sen_dict[i]+=1
    else:
      sen_dict[i]=1
  return sen_dict

result= sen("hello worldsH")
print(result)

{'h': 2, 'e': 1, 'l': 3, 'o': 2, 'w': 1, 'r': 1, 'd': 1, 's': 1}

In [ ]:
import math
import time

a=16

result=math.sqrt(a)
print(result)

math.pi * r**2

4.0

In [ ]:
#oops

#class

#constructors

#encapsulation

In [1]:
class atm():

  def __init__(self):
    self.pin = ''
    self.balance=0
    self.menu()

  def menu(self):
   user_input = input("""
      Press 1 to Create your Pin
      Press 2 to Change your Pin
      Press 3 to withdraw Money
      Press 4 to check Balance
      Press 5 to Cancel the transaction
    """)

   if user_input=='1':
          self.create_pin()
   elif user_input=='2':
          self.change_pin()

   elif user_input=='3':
          self.withdraw_money()

   elif user_input=='4':
          self.check_balance()
   else:
        exit()

  def create_pin(self):
    user_pin = input("Enter your PIN")
    self.pin=user_pin
    print("PIN Generation was success")
    user_balance=int(input("Enter your Balance"))
    self.balance=user_balance
    print(f"Your balance is {self.balance} Rs")
    self.menu()

  def change_pin(self):
    old_pin = input("Enter your old pin")
    if old_pin==self.pin:
      new_pin= input("Enter your New PIN")
      self.pin=new_pin
      print("New Pin sucessfully generated")
      self.menu()
    else:
      print("You entered incorrect pin, Try Again or contact Bank")
      self.menu()

  def withdraw_money(self):
    val_pin = input("Enter Pin to withdraw money")
    if val_pin==self.pin:
      print("Pin Verified Successfully")
      amount = int(input("Enter amount in Rs to withdraw"))

      if amount<=self.balance:
        print(f"{amount} Rs Withdrawn successfully")
        balance= self.balance- amount
        self.balance=balance
        self.menu()
      else:
        print("Low Balance!! Enter amount less then or equal")
        self.menu()
    else:
      print("Pin is Incorrect! Try again or contatc Bank")
      self.menu()

  def check_balance(self):

    val_pin = input("Enter uour pin")
    if val_pin==self.pin:
      print("Pin Validation success, your balance is ",self.balance)
    else:
      print("Pin is Incorrect! Try again or contatc Bank")
      self.menu()

In [2]:
obj = atm()

      Press 1 to Create your Pin
      Press 2 to Change your Pin
      Press 3 to withdraw Money
      Press 4 to check Balance
      Press 5 to Cancel the transaction
    1
Enter your PIN1234
PIN Generation was success
Enter your Balance25000
Your balance is 25000 Rs

      Press 1 to Create your Pin
      Press 2 to Change your Pin
      Press 3 to withdraw Money
      Press 4 to check Balance
      Press 5 to Cancel the transaction
    2
Enter your old pin5678
You entered incorrect pin, Try Again or contact Bank

      Press 1 to Create your Pin
      Press 2 to Change your Pin
      Press 3 to withdraw Money
      Press 4 to check Balance
      Press 5 to Cancel the transaction
    2
Enter your old pin1234
Enter your New PIN4567
New Pin sucessfully generated

      Press 1 to Create your Pin
      Press 2 to Change your Pin
      Press 3 to withdraw Money
      Press 4 to check Balance
      Press 5 to Cancel the transaction
    3
Enter Pin to withdraw money1234
Pin is Incorrect! Try again or contatc Bank

      Press 1 to Create your Pin
      Press 2 to Change your Pin
      Press 3 to withdraw Money
      Press 4 to check Balance
      Press 5 to Cancel the transaction
    3
Enter Pin to withdraw money4567
Pin Verified Successfully
Enter amount in Rs to withdraw30000
Low Balance!! Enter amount less then or equal

      Press 1 to Create your Pin
      Press 2 to Change your Pin
      Press 3 to withdraw Money
      Press 4 to check Balance
      Press 5 to Cancel the transaction
    3
Enter Pin to withdraw money4567
Pin Verified Successfully
Enter amount in Rs to withdraw5000
5000 Rs Withdrawn successfully

      Press 1 to Create your Pin
      Press 2 to Change your Pin
      Press 3 to withdraw Money
      Press 4 to check Balance
      Press 5 to Cancel the transaction
    4
Enter uour pin4567
Pin Validation success, your balance is  20000

In [ ]:
class atm():

  def __init__(self):
    self.pin = ''
    self.__balance=0
   # self.menu()

  def menu(self):
   user_input = input("""
      Press 1 to Create your Pin
      Press 2 to Change your Pin
      Press 3 to withdraw Money
      Press 4 to check Balance
      Press 5 to Cancel the transaction
    """)

   if user_input=='1':
          self.create_pin()
   elif user_input=='2':
          self.change_pin()

   elif user_input=='3':
          self.withdraw_money()

   elif user_input=='4':
          self.check_balance()
   else:
        exit()

  def create_pin(self):
    user_pin = input("Enter your PIN")
    self.pin=user_pin
    print("PIN Generation was success")
    user_balance=int(input("Enter your Balance"))
    self.__balance=user_balance
    print(f"Your balance is {self.__balance} Rs")
  #  self.menu()

  def change_pin(self):
    old_pin = input("Enter your old pin")
    if old_pin==self.pin:
      new_pin= input("Enter your New PIN")
      self.pin=new_pin
      print("New Pin sucessfully generated")
    #  self.menu()
    else:
      print("You entered incorrect pin, Try Again or contact Bank")
    #  self.menu()

  def withdraw_money(self):
    val_pin = input("Enter Pin to withdraw money")
    if val_pin==self.pin:
      print("Pin Verified Successfully")
      amount = int(input("Enter amount in Rs to withdraw"))

      if amount<=self.__balance:
        print(f"{amount} Rs Withdrawn successfully")
        balance= self.__balance- amount
        self.__balance=balance
      #  self.menu()
      else:
        print("Low Balance!! Enter amount less then or equal")
      #  self.menu()
    else:
      print("Pin is Incorrect! Try again or contatc Bank")
   #   self.menu()

  def check_balance(self):

    val_pin = input("Enter uour pin")
    if val_pin==self.pin:
      print("Pin Validation success, your balance is ",self.__balance)
    else:
      print("Pin is Incorrect! Try again or contatc Bank")
  #    self.menu()

In [ ]:
obj = atm()

In [ ]:
#getter and #setter

In [ ]:
#inheritance

class Animal()

  def __contructors
        --
        --


  def sleep()  )

class

class dog(Animal):

  def

class cat(Animal):

In [ ]:
!pip install ABC

ERROR: Could not find a version that satisfies the requirement ABC (from versions: none)
ERROR: No matching distribution found for ABC

In [ ]:
from abc import abstractmethod
# abstract Method

import math

from abc import ABC, abstractmethod

class Shape(ABC):

  @abstractmethod
  def area(self):
    pass



class circle(Shape):
  def __init__(self,radius):
     self.radius=radius

  def area(self):
    return math.pi * self.radius ** 2

class Rectangle(Shape):
  def __init__(self,l,b):
     self.l=l
     self.b=b

  def area(self):
    return self.l * self.b


class Triangle(Shape):
  def __init__(self,l,b):
     self.l=l
     self.b=b

  def area(self):
    return  1/2 *  self.l * self.b

In [ ]:
obj_triangle = Triangle(5,4)

In [ ]:
obj_triangle.area()

10.0